<div class="charactersContent">
  <div class="sideBar">
    <div class="textoPerson text-center">
      <h4>Personagens de {{ loggedPlayerName }}</h4>
    </div>
    <div class="personagens">
      <div
        class="personagemIndividual mt-1"
        *ngFor="let personagem of playerCharacters"
      >
        <p-panel
          header="{{ personagem.name }} - {{ personagem.race }}"
          [toggleable]="true"
          [collapsed]="true"
          [toggler]="'header'"
          [style]="{ cursor: 'pointer' }"
        >
          <p>{{ personagem.campaign }}</p>
          <p class="row botoesCriacaoDelecao">
            <button
              class="btn selectCharacterButton col-lg-6 col-md-12 col-sm-12"
              (click)="selectCharacter(personagem)"
            >
              Selecionar
            </button>
            <button
              (click)="confirmDeleteCharacter(personagem)"
              icon="pi pi-trash"
              class="btn btn-danger deleteCharacterButton col-6"
            >
              Deletar
            </button>
          </p>
        </p-panel>
      </div>
      <button
        class="btn mt-2 addCharacterButton"
        (click)="
          showDialog();
          tipoDialogForm = 'Criar';
          clearSelectedCharacter();
          setTextDisplayForDialog('Criar Personagem')
        "
        style="width: 100%"
      >
        Criar Personagem
      </button>
    </div>
  </div>
  <div class="rightContent">
    <div
      class="infoPersonagemSelecionado text-center"
      [ngStyle]="{ height: '100vh', padding: '10px' }"
    >
      <div
        [ngStyle]="{
          'min-height': '100%',
          'background-color': '#535353',
          'border-radius': '20px'
        }"
        class="text-center imagemFundo"
      >
        <ul *ngIf="!selectedCharacter" class="titleList row">
          <li>
            <span class="selectedCharacterTitle">
              Selecione um personagem
            </span>
          </li>
        </ul>
        <ul class="titleList" *ngIf="selectedCharacter">
          <div class="BotaoEditarPersonagem">
            <button
              (click)="
                showDialog();
                tipoDialogForm = 'Editar';
                selectCharacter(selectedCharacter);
                setTextDisplayForDialog(
                  'Editar Atributos de ' + selectedCharacter.name
                )
              "
              class="btn btn-secondary botaoEditarPersonagem"
              pTooltip="Editar Personagem"
              tooltipPosition="left"
            >
              <p-inputIcon styleClass="pi pi-pencil" />
            </button>
          </div>
          <li>
            <span class="selectedCharacterTitle">
              {{ selectedCharacter.name }}
            </span>
            <small class="levelText">
              Nv.
              {{
                selectedCharacter.attributes.level
                  ? selectedCharacter.attributes.level
                  : 1
              }}
            </small>
          </li>
          <li class="progressbar" [style]="{ padding: '0' }">
            <p-progressBar
              [value]="selectedCharacter.attributes.experience * 10"
              [style]="{ height: '10px', padding: '0' }"
            >
              <ng-template pTemplate="content" let-value>
                <span class="progressbarText"
                  >{{ selectedCharacter.attributes.experience }}/10</span
                >
              </ng-template>
            </p-progressBar>
          </li>
          <li>
            {{ selectedCharacter.classType }}
          </li>
        </ul>
        <ul *ngIf="selectedCharacter" class="attributesBarList row text-center">
          <li class="attributesBar col-3">
            <div class="attributesLevelsList healthBar">
              <span>Vida</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.healthMax > 0
                    ? selectedCharacter.attributes.health <=
                      selectedCharacter.attributes.healthMax
                      ? (selectedCharacter.attributes.health /
                          selectedCharacter.attributes.healthMax) *
                        100
                      : 100
                    : 0
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.health }}/{{
                      selectedCharacter.attributes.healthMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList staminaBar">
              <span>Stamina</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.staminaMax > 0
                    ? (selectedCharacter.attributes.stamina /
                        selectedCharacter.attributes.staminaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.stamina }}/{{
                      selectedCharacter.attributes.staminaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList manaBar">
              <span>Mana</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.manaMax > 0
                    ? (selectedCharacter.attributes.mana /
                        selectedCharacter.attributes.manaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.mana }}/{{
                      selectedCharacter.attributes.manaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList amalgamaBar">
              <span>Amalgama</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.amalgamaMax > 0
                    ? (selectedCharacter.attributes.amalgama /
                        selectedCharacter.attributes.amalgamaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.amalgama }}/{{
                      selectedCharacter.attributes.amalgamaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
        </ul>
        <ul *ngIf="selectedCharacter" class="attributesList row">
          <li class="row col-3 atributosDoPersonagem cards">
            <div class="row col-12 attributesStatsList text-center inner">
              <div class="row col-12 attributesStatsListText blob">
                <span class="col-8 attributeText">Força</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.strength
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Agilidade</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.agility
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Inteligência</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.intelligence
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Vontade</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.mind
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Bloqueio</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.block
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Esquiva</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.dodge
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8 attributeText">Determinação</span>
                <b class="attributeNumber col-4">{{
                  selectedCharacter.attributes.determination
                }}</b>
              </div>
            </div>
          </li>
          <li class="col-6 imagemJogador">
            <img
              [src]="'data:image/jpeg;base64,' + selectedCharacter.image"
              alt="{{ selectedCharacter.name }}"
              class="characterImage"
            />
          </li>
          <li class="col-3 botoesDeAcao text-center">
            <div class="actionButtonGrid">
              <div class="esqueletoBotoes text-center">
                <button
                  class="btn btn-secondary botaoLadoDireito"
                  (click)="
                    visibilityDialogInventory = true;
                    requisicaoInventarioPersonagem(selectedCharacter!.id)
                  "
                >
                  <img
                    src="../../../assets/imgs/icons/backpack-icon.svg"
                    alt="Inventário"
                    class="ButtonIcon"
                  />
                </button>
                <span>Inventário</span>
              </div>
              <div class="row">
                <div class="esqueletoBotoes text-center">
                  <button
                    class="btn btn-secondary botaoLadoDireitoSkill"
                    (click)="
                      visibilityDialogSkills = true;
                      requisicaoSkillsPersonagem(selectedCharacter.id)
                    "
                  >
                    <img
                      src="../../../assets/imgs/icons/Skill-icon.svg"
                      alt="Inventário"
                      class="ButtonIconSkill"
                    />
                  </button>
                  <span>Habilidades</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="{{ textoDialogForm }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [closeOnEscape]="false"
  [closable]="false"
  [blockScroll]="true"
  [keepInViewport]="true"
  [draggable]="false"
>
  <ng-template pTemplate="content">
    <!-- Assuming attributesForm is your FormGroup with fixed fields -->
    <!-- FORM DE EDICAO ATRIBUTO PERSONAGEM-->
    <form
      [formGroup]="attributesForm"
      class="attributesForm row"
      *ngIf="tipoDialogForm === 'Editar'"
      method="post"
      (ngSubmit)="requisicaoMudarAtributos()"
    >
      <div
        class="col-4 text-center"
        *ngFor="
          let controlName of getCamposFormularioReativoEdicaoPersonagem(
            attributesForm.controls
          )
        "
      >
        <label class="col-12">{{ labelMapping[controlName] }}</label>
        <input
          class="col-12"
          pInputText
          [formControlName]="controlName"
          type="{{ getType(controlName) }}"
        />
        <!-- Display validation message -->
      </div>
    </form>
    <!-- FORM DE CRIACAO DE PERSONAGEM-->
    <form
      [formGroup]="creationForm"
      class="attributesForm row"
      *ngIf="tipoDialogForm === 'Criar'"
      method="post"
      (ngSubmit)="createCharacter()"
    >
      <ng-container
        *ngFor="
          let controlName of getCamposFormularioReativoCriacaoPersonagem(
            creationForm.controls
          )
        "
        class="text-center"
      >
        <div *ngIf="controlName != 'userId'" class="col-4 row">
          <label class="col-12">{{ labelMapping[controlName] }}</label>
          <input
            class="col-10 ml-2"
            pInputText
            [formControlName]="controlName"
            type="{{ getType(controlName) }}"
          />
          <!-- Display validation message -->
        </div>
      </ng-container>
    </form>
    <!-- FORM SKILL -->
    <form
      [formGroup]="skillForm"
      class="attributesForm row"
      *ngIf="tipoDialogForm === 'Skill'"
      method="post"
    >
      <ng-container
        *ngFor="
          let controlName of getCamposFormularioReativoCriacaoPersonagem(
            skillForm.controls
          )
        "
        class="text-center"
      >
        <div *ngIf="controlName != 'userId'" class="col-4 row">
          <label class="col-12">{{ labelMapping[controlName] }}</label>
          <input
            class="col-10 ml-2"
            pInputText
            [formControlName]="controlName"
            type="{{ getType(controlName) }}"
          />
          <!-- Display validation message -->
        </div>
      </ng-container>
    </form>
    <!-- FORM CRIACAO HABILIDADE -->
    <form
      [formGroup]="itemForm"
      class="attributes form row"
      *ngIf="tipoDialogForm === 'Item'"
      method="post"
    >
      <ng-container
        *ngFor="
          let controlName of getCamposFormularioReativoCriacaoPersonagem(
            itemForm.controls
          )
        "
        class="text-center"
      >
        <div *ngIf="controlName != 'userId'" class="col-4 row">
          <label class="col-12">{{ labelMapping[controlName] }}</label>
          <input
            class="col-10 ml-2"
            pInputText
            [formControlName]="controlName"
            type="{{ getType(controlName) }}"
          />
          <!-- Display validation message -->
        </div>
      </ng-container>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      label="Fechar"
      [outlined]="true"
      severity="secondary"
      (onClick)="visible = false"
    />
    <p-button
      *ngIf="tipoDialogForm === 'Editar'"
      label="Salvar Alterações"
      [outlined]="true"
      severity="contrast"
      type="submit"
      (onClick)="visible = false; requisicaoMudarAtributos()"
    />
    <p-button
      *ngIf="tipoDialogForm == 'Criar'"
      label="Criar Personagem"
      [outlined]="true"
      severity="contrast"
      type="submit"
      (onClick)="visible = false; createCharacter()"
    />
    <p-button
      *ngIf="tipoDialogForm == 'Skill'"
      label="{{ textoDialogForm == 'Adicionar Skill' ? textoDialogForm : 'Editar Skill' }}"
      [outlined]="true"
      severity="contrast"
      type="submit"
      (onClick)="visible = false; determineSkillAction(selectedCharacter, textoDialogForm, skillId!); clearItemAndSkillForms()"
    />
    <p-button
      *ngIf="tipoDialogForm == 'Item'"
      label="{{ textoDialogForm == 'Adicionar Item' ? textoDialogForm : 'Editar Item' }}"
      [outlined]="true"
      severity="contrast"
      type="submit"
      (onClick)="visible = false; determineItemAction(selectedCharacter, textoDialogForm, itemId); clearItemAndSkillForms()"
    />
  </ng-template>
</p-dialog>
<p-dialog
  header="Skills de {{ selectedCharacter ? selectedCharacter.name : '' }}"
  [(visible)]="visibilityDialogSkills"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [closeOnEscape]="false"
  [closable]="false"
  [blockScroll]="true"
  [keepInViewport]="true"
  [draggable]="false"
>
  <div class="">
    <p-table
      [value]="characterSkills"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '40rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="headerTabela" colspan="2">Nome</th>
          <th class="headerTabela" colspan="2">Descrição</th>
          <th class="headerTabela" colspan="1">Energia</th>
          <th class="headerTabela" colspan="1">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-skill>
        <tr>
          <td class="corpoTabela" colspan="2">{{ skill.name }}</td>
          <td class="corpoTabela" colspan="2">{{ skill.description }}</td>
          <td class="corpoTabela" colspan="1">{{ skill.energy }}</td>
          <td class="corpoTabela text-center" colspan="1">
            <button
              class="btn btn-secondary botaoEditarSkillHabilidade mt-2 mb-2"
              pTooltip="Editar Skill"
              tooltipPosition="left"
              (click)="
                setTextDisplayForDialog('Editar ' + skill.name);
                showDialog();
                tipoDialogForm = 'Skill';
                sendSkillsInfoToReactiveForm(skill);
                skillId = skill.id;
                clearItemAndSkillForms()
              "
            >
              <p-inputIcon styleClass="pi pi-pencil" />
            </button>
            <button
              class="btn btn-secondary botaoEditarSkillHabilidade ml-2 mb-2 mt-2"
              pTooltip="Excluir Skill"
              tooltipPosition="top"
              (click)="confirmDeleteSkill(skill)"
            >
              <p-inputIcon styleClass="pi pi-times" />
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="col-12">
      <button
        class="btn btn-secondary mt-2 botaoAddSkill"
        (click)="
          showDialog();
          setTextDisplayForDialog('Adicionar Skill');
          tipoDialogForm = 'Skill'
        "
      >
        Adicionar Skill
      </button>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Fechar"
      [outlined]="true"
      severity="danger"
      (onClick)="visibilityDialogSkills = false"
    />
  </ng-template>
</p-dialog>
<p-dialog
  header="Inventario de {{ selectedCharacter ? selectedCharacter.name : '' }}"
  [(visible)]="visibilityDialogInventory"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [closeOnEscape]="false"
  [closable]="false"
  [blockScroll]="true"
  [keepInViewport]="true"
  [draggable]="false"
>
  <div class="">
    <p-table
      [value]="characterInventory"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '40rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="headerTabela" colspan="2">Nome</th>
          <th class="headerTabela" colspan="2">Descrição</th>
          <th class="headerTabela" colspan="1">Energia</th>
          <th class="headerTabela" colspan="1">Quantidade</th>
          <th class="headerTabela" colspan="1">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-items>
        <tr>
          <td class="corpoTabela text-center" colspan="2">{{ items.name }}</td>
          <td class="corpoTabela" colspan="2">{{ items.description }}</td>
          <td class="corpoTabela text-center" colspan="1">
            {{ items.energy }}
          </td>
          <td class="corpoTabela text-center" colspan="1">
            {{ items.quantity }}
          </td>
          <td class="corpoTabela text-center" colspan="1">
            <button
              class="btn btn-secondary botaoEditarSkillHabilidade mt-2 mb-2"
              pTooltip="Editar Item"
              tooltipPosition="left"
              (click)="
                setTextDisplayForDialog('Editar ' + items.name);
                showDialog();
                tipoDialogForm = 'Item';
                sendItemsInfoToReactiveForm(items);
                itemId = items.id
              "
            >
              <p-inputIcon styleClass="pi pi-pencil" />
            </button>
            <button
              class="btn btn-secondary botaoEditarSkillHabilidade mb-2"
              pTooltip="Excluir Item"
              tooltipPosition="left"
              (click)="confirmDeleteItem(items)"
            >
              <p-inputIcon styleClass="pi pi-times" />
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="col-12">
      <button
        class="btn btn-secondary mt-2 botaoAddSkill"
        (click)="
          showDialog();
          setTextDisplayForDialog('Adicionar Item');
          tipoDialogForm = 'Item'
        "
      >
        Adicionar Item
      </button>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Fechar"
      [outlined]="true"
      severity="danger"
      (onClick)="visibilityDialogInventory = false"
    />
  </ng-template>
</p-dialog>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Sim"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Mudei de Ideia"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-toast [life]="5000" [baseZIndex]="5000" />
