.sideBar {
  background-color: #41414176;
  min-width: 10vw;
  width: 15vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  border-radius: 0 20px 20px 0;
  padding: 5px;
}

.textoPerson {
  padding-top: 2%;
}

.infoPersonagemSelecionado {
  max-width: 85vw;
  width: 85vw;
  max-height: 90vh;
}

.charactersContent {
  display: flex;
}

.selectedCharacterTitle {
  padding-top: 1%;
  font-size: 24pt;
}

.selectedCharacterButton {
  width: 100%;
}

.rightContent {
  min-height: 98vh;
}

.sidebarButton {
  position: inherit;
  margin-left: 96%;
}

.progressbar {
  margin: 0 35% 0 35%;
  background-color: #19191976;
  border-radius: 13px;
  padding: 3px;
}

.progressbarText {
  font-size: 8pt;
  color: rgb(6, 6, 6);
}

.titleList {
  list-style: none;
  margin-bottom: 0;
  padding-top: 15px;
}

.liNivel {
  margin-top: 0;
}

.levelText {
  font-size: 10pt;
  color: white;
}

.selectedCharacterTitle {
  margin-left: 2.5%;
}

.p-progressbar {
  border: 0px;
}

.attributesLevelsList {
  padding-top: 1%;
  text-align: left;
}

.attributesBarList {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.attributesBarList > li {
  display: block;
}

.attributesList {
  width: 100%;
  height: 80vh;
  list-style: none;
}

.atributosDoPersonagem,
.botoesDeAcao {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributesStatsList {
  text-align: left;
  margin-left: 3%;
  list-style: none;
  background-color: #19191948;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  .attributesStatsListText {
    font-size: 18pt;
    text-align: left;
  }
}

.actionButtonGrid {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  button {
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
  }
}

.characterImage {
  height: 70%;
  width: 70%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemJogador {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addCharacterButton {
  border: 1px solid #dfdfdf;
}

.addCharacterButton:hover {
  background-color: #001;
  color: white;
}
.deleteCharacterButton {
  
  background-color: red !important;
  border-color: red !important;
  color: white !important;
  size: 10px;
  .pi {
    margin-right: 0.5rem;
  }

 
}
