:root {
  --primary-border-radius: 20px;
  --secondary-border-radius: 15px;
}

.sideBar {
  background-color: #41414176;
  min-width: 10vw;
  width: 15vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
  padding: 5px;
}

.infoPersonagemSelecionado {
  width: 85vw;
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, rgb(1, 0, 20) 70%),
    url(../../../assets/imgs/login-background.jpg);
}

.charactersContent {
  display: flex;
}

.selectedCharacterTitle {
  padding-top: 1%;
  font-size: 24pt;
}

.selectedCharacterButton {
  width: 100%;
}

.rightContent {
  min-height: 98vh;
  
}

.sidebarButton {
  position: inherit;
  margin-left: 96%;
}

.progressbar {
  margin: 0 35% 0 35%;
  background-color: #19191976;
  border-radius: var(--secondary-border-radius);
  padding: 3px;
}

.progressbarText {
  font-size: 8pt;
  color: rgb(6, 6, 6);
}

.titleList {
  list-style: none;
  margin-bottom: 0;
  padding-top: 15px;
}

.liNivel {
  margin-top: 0;
}

.levelText {
  font-size: 10pt;
  color: white;
}

.selectedCharacterTitle {
  margin-left: 2.5%;
}

.p-progressbar {
  border: 0px;
}

.attributesLevelsList {
  padding-top: 1%;
  text-align: left;
}

.attributesBarList {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
}

.attributesBarList > li {
  display: block;
}

.attributesList {
  width: 100%;
  height: 100%;
  list-style: none;
}

.atributosDoPersonagem,
.botoesDeAcao {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributesStatsList {
  text-align: left;
  margin-left: 3%;
  list-style: none;
  background-color: #19191948;
  border-radius: var(--secondary-border-radius);
  backdrop-filter: blur(5px);
  .attributesStatsListText {
    font-size: 18pt;
    text-align: left;
  }
}

.actionButtonGrid {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  button {
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
  }
}

.characterImage {
  height: 70%;
  width: 70%;
  border-radius: var(--secondary-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemJogador {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addCharacterButton {
  border: 1px solid #dfdfdf;
}

.addCharacterButton:hover {
  background-color: #001;
  color: white;
}

.imagemFundo {
  position: relative;
  min-height: 100%;
  border-radius: var(--primary-border-radius);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(83, 83, 83, 0.5) !important;
}

.inventorySquareSlot {
  width: 10%;
  height: 10%;
  border: 1px solid rgb(69, 69, 69);
  border-radius: var(--primary-border-radius);
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  .inventorySlot {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.botoesCriacaoDelecao{
  button {
    border-radius: var(--secondary-border-radius);
  }
}

.selectCharacterButton {
  border: 1px solid #dfdfdf;
  border-radius: var(--primary-border-radius);
  background-color: #3c3c3c;
}

.aaateste {
  background-color: rgba(255, 0, 0, 0.836);
  width: 30vh;
  height: 30vh;
  justify-content: center;
  align-items: center;

}

