<div class="charactersContent">
  <div class="sideBar">
    <div class="textoPerson text-center">
      <h4>Personagens de {{ loggedPlayerName }}</h4>
    </div>
    <div class="personagens">
      <div
        class="personagemIndividual mt-1"
        *ngFor="let personagem of playerCharacters"
      >
        <p-panel
          header="{{ personagem.name }} - {{ personagem.race }}"
          [toggleable]="true"
          [collapsed]="true"
          [toggler]="'header'"
          [style]="{ cursor: 'pointer' }"
        >
          <p>{{ personagem.campaign }}</p>
          <p>
            <p-button
              label="Selecionar"
              class="selectCharacterButton"
              (click)="selectCharacter(personagem)"
            />
          </p>
        </p-panel>
      </div>
      <button
        class="btn mt-2 addCharacterButton"
        (click)="
          showDialog(); tipoDialogForm = 'Criar'; clearSelectedCharacter()
        "
        style="width: 100%"
      >
        Criar Personagem
      </button>
    </div>
  </div>
  <div class="rightContent">
    <div
      class="infoPersonagemSelecionado text-center"
      [ngStyle]="{ height: '100vh', padding: '10px' }"
    >
      <div
        [ngStyle]="{
          'min-height': '100%',
          'background-color': '#535353',
          'border-radius': '20px'
        }"
        class="text-center"
      >
        <ul *ngIf="!selectedCharacter" class="titleList">
          <li>
            <span class="selectedCharacterTitle">
              Selecione um personagem
            </span>
          </li>
        </ul>
        <ul class="titleList" *ngIf="selectedCharacter">
          <li>
            <span class="selectedCharacterTitle">
              {{ selectedCharacter.name }}
            </span>
            <small class="levelText">
              Nv.
              {{
                selectedCharacter.attributes.level
                  ? selectedCharacter.attributes.level
                  : 1
              }}
            </small>
          </li>
          <li class="progressbar" [style]="{ padding: '0' }">
            <p-progressBar
              [value]="selectedCharacter.attributes.experience * 10"
              [style]="{ height: '10px', padding: '0' }"
            >
              <ng-template pTemplate="content" let-value>
                <span class="progressbarText"
                  >{{ selectedCharacter.attributes.experience }}/10</span
                >
              </ng-template>
            </p-progressBar>
          </li>
          <li>
            {{ selectedCharacter.classType }}
          </li>
        </ul>
        <ul *ngIf="selectedCharacter" class="attributesBarList row text-center">
          <li class="attributesBar col-3">
            <div class="attributesLevelsList healthBar">
              <span>Vida</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.healthMax > 0
                    ? selectedCharacter.attributes.health <=
                      selectedCharacter.attributes.healthMax
                      ? (selectedCharacter.attributes.health /
                          selectedCharacter.attributes.healthMax) *
                        100
                      : 100
                    : 0
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.health }}/{{
                      selectedCharacter.attributes.healthMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList staminaBar">
              <span>Stamina</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.staminaMax > 0
                    ? (selectedCharacter.attributes.stamina /
                        selectedCharacter.attributes.staminaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.stamina }}/{{
                      selectedCharacter.attributes.staminaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList manaBar">
              <span>Mana</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.manaMax > 0
                    ? (selectedCharacter.attributes.mana /
                        selectedCharacter.attributes.manaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.mana }}/{{
                      selectedCharacter.attributes.manaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
          <li class="attributesBar col-3">
            <div class="attributesLevelsList amalgamaBar">
              <span>Amalgama</span>
              <p-progressBar
                [value]="
                  selectedCharacter.attributes.amalgamaMax > 0
                    ? (selectedCharacter.attributes.amalgama /
                        selectedCharacter.attributes.amalgamaMax) *
                      100
                    : 100
                "
                [style]="{ height: '30px', padding: '0' }"
              >
                <ng-template pTemplate="content" let-value>
                  <span class="progressbarText"
                    >{{ selectedCharacter.attributes.amalgama }}/{{
                      selectedCharacter.attributes.amalgamaMax
                    }}</span
                  >
                </ng-template>
              </p-progressBar>
            </div>
          </li>
        </ul>
        <ul *ngIf="selectedCharacter" class="attributesList row">
          <li class="row col-3 atributosDoPersonagem">
            <div class="row col-12 attributesStatsList text-center">
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Força</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.strength
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Agilidade</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.agility
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Inteligência</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.intelligence
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Mind</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.mind
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Bloqueio</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.block
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Esquiva</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.dodge
                }}</b>
              </div>
              <div class="row col-12 attributesStatsListText">
                <span class="col-8">Determinação</span>
                <b class="attributeText col-4">{{
                  selectedCharacter.attributes.determination
                }}</b>
              </div>
            </div>
          </li>
          <li class="col-6 imagemJogador">
            <img
              [src]="'data:image/jpeg;base64,' + selectedCharacter.image"
              alt="{{ selectedCharacter.name }}"
              class="characterImage"
            />
          </li>
          <li class="col-3 botoesDeAcao text-center">
            <div class="actionButtonGrid">
              <button class="btn btn-secondary">Inventário</button>
              <button class="btn btn-secondary">Skillset</button>
              <button
                (click)="
                  showDialog();
                  tipoDialogForm = 'Editar';
                  selectCharacter(selectedCharacter)
                "
                class="btn btn-secondary"
              >
                Editar Personagem
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p-dialog
      header="{{ tipoDialogForm }} atributos {{
        selectedCharacter && tipoDialogForm === 'Editar'
          ? 'de ' + selectedCharacter.name
          : 'para um novo personagem'
      }}"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50rem' }"
      [closeOnEscape]="false"
      [closable]="false"
      [blockScroll]="true"
      [keepInViewport]="true"
    >
      <ng-template pTemplate="content">
        <!-- Assuming attributesForm is your FormGroup with fixed fields -->
        <form [formGroup]="attributesForm" class="attributesForm row">
          <div
            class="col-4"
            *ngFor="let controlName of getObjectKeys(attributesForm.controls)"
          >
            <label>{{ controlName }}</label>
            <input
              pInputText
              [formControlName]="controlName"
              type="{{ getType(controlName) }}"
            />
            <!-- Display validation message -->
            <div
              *ngIf="
                attributesForm.get(controlName)?.invalid &&
                (attributesForm.get(controlName)?.dirty ||
                  attributesForm.get(controlName)?.touched)
              "
            >
              <!-- Custom validation message here -->
              {{ controlName }} é Inválido!
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button
          label="Cancelar"
          [outlined]="true"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button
          label="Salvar Alterações"
          [outlined]="true"
          severity="secondary"
          (onClick)="visible = false; requisicaoMudarAtributos()"
        />
      </ng-template>
    </p-dialog>
  </div>
</div>
<p-toast [life]="5000" [baseZIndex]="5000" />
