<div class="mainContainer reset">
  <div class="loginContainer">
    <div class="loginHeader">
      <h1 class="loginTitle">Login</h1>
    </div>
    <p-floatLabel class="loginInputs">
      <input pInputText id="username" />
      <label for="username">Email</label>
    </p-floatLabel>
    <p-floatLabel class="loginInputs">
      <input pInputText id="senha" type="password"/>
      <label for="senha">Senha</label>
    </p-floatLabel>
    <div class="loginForm loginInputs formButton">
      <p-button label="Entrar" [raised]="true" class="submitButton"/>
    </div>
  </div>
</div>
