.subtext {
  font-weight: semibold;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(48, 48, 48, 0.494);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  column-count: 1;
}


