@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

@font-face {
  font-family: "Beaufort for LOL";
  src: url(assets/fonts/BeaufortForLol/BeaufortforLOL-Bold.ttf);
}

@font-face {
  font-family: "Beaufort for LOL Italic";
  src: url(assets/fonts/BeaufortForLol/BeaufortforLOL-BoldItalic.ttf);
}

* {
  font-family: "Inconsolata", sans-serif;
}

body {
  margin: 0;
}
html {
  height: 95vh;
  width: 100vw;
  max-width: 1877px;
}

.p-button-label {
  font-family: "Beaufort for LOL Italic";
  font-weight: 800;
}

.p-progressbar-value {
  background-color: white;
}

.healthBar {
  .p-progressbar-value {
    background-color: rgb(195, 47, 47);
    span {
      color: #f2f2f2;
    }
  }
}

.staminaBar {
  .p-progressbar-value {
    background-color: rgb(205, 242, 93);
  }
}

.manaBar {
  .p-progressbar-value {
    background-color: rgb(6, 38, 119);
    span {
      color: #f2f2f2;
    }
  }
}

.amalgamaBar {
  .p-progressbar-value {
    background-color: rgb(132, 17, 168);
    span {
      color: #f2f2f2;
    }
  }
}
